.head {
    background: url('../img/home-banner.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 800px;
   
 
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 50px;
    margin-top: -50px;
    gap:2px;
    
}

