.card {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.bcakimg {
    background: url('../img/html.png');
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
}
