.card {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
}
.bcakimg {
    background: url('../img/htmbanner.png');
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    border-radius: 5px 
}

.bcakimgtwo {
    background: url('../img/css.png');
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    border-radius: 5px 

}
.bcakimgthree {
    background: url('../img/java.png');
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    border-radius: 5px 

}
.cart {
    background: red
}